:root{
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Manrope', sans-serif;
  font-size: 0.825rem;
  background: var(--light-grayish-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main{
  background: #fff;
  color: var(--grayish-blue);
  border-radius: 15px;
  overflow: hidden;
  line-height: 1.5;
  width: 88%;
}
img{
  max-width: 100%;
}
.image-container{
  height: 14rem;
  overflow: hidden;
}
.description-and-details{
  position: relative;
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 1.9rem 0rem;
}
.description-heading{
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
}
.description-text{
  color: hsl(214, 17%, 51%);
  margin-top: 1rem;
  font-size: 0.8rem;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.michelle-details{
  display: flex;
}
.michelle-img{
  width: 3rem;
  border-radius: 100%;
}
.name-date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.name{
  color: var(--very-dark-grayish-blue);
  font-size: 0.8rem;
}
button{
  position: relative;
  border: none;
  border-radius: 100%;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  background: var(--light-grayish-blue);
  z-index: 1;
  outline: none;
}
.button-active{
  background-color: var(--desaturated-dark-blue);
  top:0.5rem;
}
.arrow-white path{
  fill: #fff;
}

.links-passive{
  display: none;
}
.links-active{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--very-dark-grayish-blue);
  padding: 1.2rem;
}
.share-text p{
  text-transform: uppercase;
  margin-left: 1rem;
}
li{
  margin-left: 1.3rem;
}
.share-icons{
  list-style: none;
  display: flex;
}
footer{
  position: relative;
  top: 3rem;
}
@media screen and (min-width: 600px) {
  body{
    font-family: 'Manrope', sans-serif;
    font-size: 0.825rem;
    background: var(--light-grayish-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  img{
    max-width: 100%;
  }
  main{
    display: flex;
    background: #fff;
    color: var(--grayish-blue);
    border-radius: 15px;
    overflow: visible;
    line-height: 1.5;
    max-width:45rem;
  }
  .image-container{
    height: auto;
    min-width: 19rem;
    border-radius: 15px 0 0 15px;
  }
  .image-container img{
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
  .description-and-details{
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 2.4rem 0rem;
  }
  .description-heading{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
  }
  .description-text{
    color: hsl(214, 17%, 51%);
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .michelle-details{
    display: flex;
  }
  .michelle-img{
    width: 2.33rem;
    border-radius: 100%;
  }
  .name-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }
  .name{
    color: var(--very-dark-grayish-blue);
    font-size: 0.8rem;
  }
  button{
    position: relative;
    border: none;
    border-radius: 100%;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    background: var(--light-grayish-blue);
    z-index: 1;
    outline: none;
  }
  .links-active {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 78px;
    left: 272px;
    width: 14rem;
    background: var(--very-dark-grayish-blue);
    padding: 1rem;
    border-radius: 15px;
}
  .links-active::after{
    content: '';
    width: 26px;
    height: 26px;
    top: 26px;
    left: -99px;
    position: relative;
    background-color: var(--very-dark-grayish-blue);
    bottom: 88px;
    transform: rotate(45deg);
}
  footer{
    position: relative;
    top: 3rem;
  }
}
